.table-div {
    justify-content: center;
    width: 800px;
   }
   table {
     width: 100%;
     border-collapse: collapse;
     background-color: #464646; 
     color: rgba(255, 255, 255, 0.87);
   }
   
   th, td {
     padding: 10px;
     border: 1px solid #ddd;
   }
   
   th {
     text-align: left; 
     font-weight: 500;
   }